.recipe-searchbar {
  padding-bottom: 0;
}

.recipe-img {
  height: 25vh;
  object-fit: cover;
}

.recipe-header {
  padding: 10px 20px 10px;
  text-align: center;
}

.recipe-title {
  font-size: 3vh;
}
