.App {
  text-align: center;
}

h1 {
  width: 100%;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  border-top: 4px solid #d8542b;
  border-bottom: 4px solid #d8542b;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.75rem;
  text-shadow: 20px #000000;
}

.search-bar {
  border-radius: 0;
  border-right: none;
}

.straight-corners {
  border-radius: 0;
}

.no-border {
  background-color: #ffffff;
  border: none;
}

.left-border-dark {
  border-left: 1px solid #222222;
}

.left-border-light {
  border-left: 1px solid #cccccc;
}

.row {
  margin-top: 1.75rem;
}

@media only screen and (max-width: 766px) {
  .row {
    margin-bottom: -1.5rem;
  }

  .col-md-3 {
    margin-bottom: 1rem;
  }

  .left-border-light {
    border-left: 0;
  }
}

.card {
  color: #000000;
  cursor: pointer;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
}

.card-title {
  margin-bottom: 0.2rem;
}

.card-body {
  padding: 0.25rem;
}

.card-img {
  object-fit: cover;
  border-radius: 0;
}

.card-text {
  color: #555555;
  font-size: 0.8rem;
  font-style: italic;
}

.modal-backdrop {
  background-color: #111111;
}

.modal-content {
  color: #000000;
  border-radius: 0;
}

.modal-header {
  border-bottom-color: #aaaaaa;
}

.modal-footer {
  border-top-color: #aaaaaa;
}

.suggestion-row {
  margin-top: 0;
}

.suggestion {
  cursor: pointer;
}

.suggestion-image {
  object-fit: cover;
  vertical-align: middle;
  height: 250px;
  width: 100%;
}

.suggestion-title, .suggestion-text {
  margin-bottom: 0.2rem;
}

.suggestion-text {
  color: #555555;
  font-size: 0.8rem;
  font-style: italic;
}

hr {
  background-color: #dddddd;
}