.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row {
  margin-top: 2rem;
}

.card {
  color: #000000;
  cursor: pointer;
}

.card-title {
  margin-bottom: 0.2rem;
}

.card-body {
  padding: 0.25rem;
}

.card-img {
  object-fit: cover;
}

.card-text {
  color: #555555;
  font-size: 0.8rem;
  font-style: italic;
}

.modal-header {
  border-bottom-color: #aaaaaa;
}

.modal-content {
  color: #000000;
}

.modal-footer {
  border-top-color: #aaaaaa;
}

hr {
  background-color: #dddddd;
}