.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row {
  margin-top: 2rem;
}

.card {
  color: #000000;
}

.card-body {
  padding: 0.5rem;
}

.badge {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.modal-content {
  color: #000000;
}