.input-group {
  margin: 25px 0;
  display: flex;
}

.input-group > * {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.input-group > *:first-child {
  margin-left: 0 !important;
}

.input-group > *:last-child {
  margin-right: 0 !important;
}

.ingredient {
  display: flex;
}

.ingredient-name, .ingredient-unit {
  flex: 1 0 auto;
}

.dots {
  flex: 0 1 auto;
  overflow: hidden;
}

.dots::before {
  margin: auto 5px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  color: #999;
}
