.ingredient {
  display: flex;
}

.ingredient-name, .ingredient-unit {
  flex: 1 0 auto;
}

.dots {
  flex: 0 1 auto;
  overflow: hidden;
}

.dots::before {
  margin: auto 5px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  color: #999;
}
