.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.maxheight {
  height: 100%;
}

.center {
  /* text-align: center;
  vertical-align: middle; */

  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-padding {
  padding: 0;
}

.recipes-searchbar {
  padding-bottom: 0;
}

.recipes-img {
  height: 25vh;
  object-fit: cover;
}

.recipes-header {
  padding: 10px 20px 10px;
  text-align: center;
}

.recipes-title {
  font-size: 3vh;
}

.recipe-img {
  width: 100%;
  height: 28vh;
  object-fit: cover;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.text-container {
  padding: 0 20px;
}

.no-layout {
  text-decoration: none;
  color: inherit;
}

.ingredient-row {
  padding: 5px 10px;
}

.row-border {
  background-image: linear-gradient(to right, black 20%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.divider {
  background-color: lightgrey;
}

ol, ul {
  padding-left: 20px;
}

.pre-formatted {
  white-space: pre-line !important;
}
